.container--destinos{
    flex-direction: column;
}

.item--destinos{
    color: white;
}

.figure__image--destinos{
    margin: auto;
    width: 100%;
}

.item--destinos p{
    width: 70%;
    margin: auto;
}