.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
}

.header--home{
  background-color: black;
  color: white;
  text-align: center;
  background-image: url(../images/nosotros/nosotrosViaLactea.jpg);
  font-size: $font-big-big;
}

.item--home {
  height: 32vh;
  width: 49%;
  background-color: #000000;
  margin-bottom: 1%;
}

.item--home__countdown{
  position: absolute;
    bottom: 125px;
    left: 16px;
    width: 92%;
}

@media (min-width: 401px){
  .item--home__countdown{
    position: absolute;
      bottom: 235px;
      left: 16px;
      width: 92%;
  }
}

.item--home__countdown__span{
  float: left;
  width: 100%;
  padding-bottom: 5px;
}

.item__figure{
  margin: 0;
  height: 100%;
}

.item__figure__img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.item--home:nth-child(3n){
  width: 100%;
}

.item__figure__a{
  color: white;
  text-decoration: none;
  font-size: $font-big;
  font-weight: bold;
}

.body-interior{
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}