.container-viajes{
    display: flex;
    flex-direction: column;
    flex: 5;
}

.item-viajes{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: gray;
    flex: 1;
    padding: 1%;
    background-image: url(../images/viajes/spaceXBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}