.nav{
    flex: 1;
    background-color: #000000;
    color: #ffffff;
}

.nav__ul__li__a{
    text-decoration: none;
    font-family: $font;
    font-size: $font-big;
    text-transform: uppercase;
}

.nav__ul__li__a:link{
    color: #ffffff;
}

.nav__ul__li__a:hover{
    color: #808080;
}

.nav__ul__li{
    list-style: none;
}

.nav__ul{
    padding-left: 0.5em;
    margin-right: 1em;
    margin-bottom: 0;
}


